$gap-column: 16px;
$scroll-container-width: calc(600px + $gap-column);

.carousel{
    border: 1px solid black;
    display: flex;
    width: max-content;
    align-items: center;
    user-select: none;

    button{
        width: 40px;
        height: 100px;
        cursor: pointer;
        &:active{
            background-color: red;
        }
    }

    .scroll-container{
        width: $scroll-container-width;
        display: flex;
        align-items: center;
        flex-direction: row;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-snap-align: center;
        column-gap: $gap-column;
        flex: none;
        background-color: blue;
        scroll-behavior: smooth;
        
        .item{
            width: 300px;
            height: 200px;
            scroll-snap-type: x mandatory;
            scroll-snap-align: center;
            display: flex;
            align-items: center;
            img{
                width: 300px;
                height: 200px;
            }
        }
    }
}