@use '../variables/screen.scss' as screen;

main {
    width: 100vw;
    height: max-content;
    scroll-snap-type: both mandatory;
    scroll-snap-align: center;
    scroll-behavior: smooth;

}

section {
    width: 100vw;
    min-height: calc(screen.$row-height*14.5);
}