@use 'variables/color.scss' as color;
@use 'variables/screen.scss' as screen;
@use 'variables/font.scss' as font;
$logo-width: 75px;
$logo-height: 60px;

nav {
    @include screen.grid-size(1.5,16);
    top: 0;
    position: sticky;
    background-color: color.$color-2;
    min-width: 100vw;
    min-height: 64px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 0px color.$color-3;
    
    .logo {
        width: $logo-width;
        height: $logo-height;

        margin: {
            left: 24px;
            right: 8px;
        }

        border-radius: 0px;
        cursor: pointer;
    }

    .text {
        @include screen.grid-size(1.5,16);
        background-color: blue;
        p:nth-child(1) {
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 33px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        p:nth-child(2){
            color: #FFFFFF;
            font-size: 1rempx;
        }
    }
    .navLinks{
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;

        a{
            font-size: font.$small-font-size;
            color: color.$color-1;
            width: 64px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            text-transform: uppercase;
            padding: 12px 0;
            border: {
                right: 3px solid color.$color-1;
            }
            
        }
    }
}

nav.transparent{
    background-color: transparent;
    box-shadow: none;
    position: absolute;

    .text{
        background: transparent;
        p{
            color: color.$color-4;
        }
    }
}