@use "color" as color;

$small-font-size: .75em;
$medium-font-size: 1em;
$large-font-size: 1.25em;

$section-font-size: 1.25em;
$subtitle-font-size: 1.5em;
$title-font-size: 1.75em;

// $small-font-size: 1em;
// $medium-font-size: 1.5em;
// $large-font-size: 1.75em;

// $section-font-size: 1.75em;
// $subtitle-font-size: 2em;
// $title-font-size: 2em;

$font-family: 'Noto Sans',sans-serif;

@mixin small-text ($color: color.$color-4) {
    font-size: $small-font-size;
    color: $color;
    font-family: $font-family;
}

@mixin medium-text ($color: color.$color-4) {
    font-size: $medium-font-size;
    color: $color;
    font-family: $font-family;
}

@mixin large-text ($color: color.$color-4) {
    font-size: $large-font-size;
    color: $color;
    font-family: $font-family;
}

@mixin title($color: color.$color-4) {
    font-weight: bold;
    font-size: $title-font-size;
    text-transform: uppercase;
    color: $color;
    font-family: $font-family;
}

@mixin subtitle($color: color.$color-4) {
    font-weight: bold;
    font-size: $subtitle-font-size;
    color: $color;
    font-family: $font-family;
}

@mixin sectionTitle($color: color.$color-4) {
    font-weight: bold;
    font-size: $section-font-size;
    font-family: $font-family;
}