@use '../variables/color.scss'as color;

.blog-container {
    max-width: 672px;
    min-height: 100%;
    line-height: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 2em;
    padding: 0 16px;
    
    h2 {
        font-weight: 200;
    }

    li {
        list-style-position: inside;
        list-style-type: square;
    }

    a {
        color: color.$color-3;
    }

    p {
        text-indent: 32px;
        text-align: justify;
        line-height: 2em;
    }
    .image{
        aspect-ratio: 2/1;
        width: 100%;
        height: auto;
        max-width: 640px;
    }
}