@use '../variables/color.scss' as color;
@use '../variables/screen.scss' as screen;

footer{
    @include screen.grid-size(1.5,16);
    background-color: color.$color-3;
     bottom: 0;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
    // &,*{
    //     border: 5px solid black;
    // }
    .text{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p{
            text-align: center;
            align-items: center;
            justify-content: center;
            color: color.$color-1;
            font-size: 10px;
        }
    }
}