@use '../variables/screen.scss' as screen;
@use '../variables/color.scss' as color;

section {
    @include screen.grid-size(14,16);
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    scroll-snap-align: end;
    scroll-behavior: smooth;
    background-color: color.$color-6;
}

@media screen and (max-width:400px){
    section{
        @include screen.grid-size(6.5,8,8,8);
    }
}