@use '../variables/color.scss' as color;
@use '../variables/screen.scss' as screen;
@use '../variables/font.scss' as font;

$logo-width: 75px;
$logo-height: 60px;

nav {
    @include screen.grid-size(1.5,16);
    width: 100vw;
    z-index: 100;
    top: 0;
    position: sticky;
    background-color: color.$color-2;

    display: grid;
    grid-template-columns: 1fr 4fr 5fr;
    grid-template-areas: "logo text links";
    align-items: center;
    box-shadow: 0px 4px 0px color.$color-3;
    
    .logo {
        grid-area: logo;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: {
            left: 24px;
            right: 8px;
        }
        
        img,svg{
            width: $logo-width;
            height: $logo-height;
        }
    }
    
    .text {
        grid-area: text;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        p:nth-child(1) {
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 33px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        p:nth-child(2){
            color: #FFFFFF;
            font-size: 1rem;
        }
    }
    .navLinks{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;

        .navItem{
            font-size: font.$small-font-size;
            color: color.$color-1;
            width: 64px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            text-transform: uppercase;
            padding: 12px 0;
        }

    }
}

nav.transparent{
    background-color: transparent;
    box-shadow: none;
    position: absolute;

    .text{
        background: transparent;
        p{
            color: color.$color-4;
        }
    }
    .navLinks{
        .navItem{
            color: color.$color-4;
        }
    }
}

@media screen and (max-width:400px) {
    nav{
        @include screen.grid-size(1.5,16,8,8);
        width: 100vw;
        background-color: blue;
        display: flex;
    }
}