@use '../variables/color.scss' as color;
@use '../variables/screen.scss' as screen;
@use '../variables/font.scss' as font;

$logo-width: 75px;
$logo-height: 60px;
// nav{
//     *,&{
//                 border: 1px solid black;
//             }
//     width: 100vw;
//     background-color: color.$color-2;
//     display: flex;
//     flex-wrap: wrap;
//     .logo{
//         // width: max-content;
//     }
//     .text{
//         max-width: 250px;
//     }
// }

nav {
    @include screen.grid-size(1.5,16);
    position: sticky;
    background-color: color.$color-2;
    z-index: 100;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 0px color.$color-3;
    
    .logo {

        display: flex;
        align-items: center;
        justify-content: center;
        margin: {
            left: 16px;
            right: 8px;
        }
        
        img,svg{
            width: $logo-width;
            height: $logo-height;
            object-fit: fill;
        }
    }
    .icon{
        display: none;
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        user-select: none;
        p{
            color: color.$color-1;
        }
        p:nth-child(1) {
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 33px;
            text-transform: uppercase;
            width: auto;
        }
        p:nth-child(2){
            font-size: 1rem;
        }
    }
    .navLinks{
        width: max-content;
        height: 100%;
        display: flex;
        flex-direction: row;
        border-color: blue;
        .navItem{
            font-size: 12pt;
            color: color.$color-1;
            width: max-content;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            text-transform: uppercase;
            padding: 12px 16px;
        }

    }
}

nav.transparent{
    background-color: transparent;
    box-shadow: none;
    position: absolute;

    .text{
        background: transparent;
        p{
            color: color.$color-4;
        }
    }
    .navLinks{
        .navItem{
            color: color.$color-4;
        }
    }
}

@media screen and (min-width:500px){
    .text {
        p:nth-child(2){
            width: max-content;
        }
    }
}

@media screen and (max-width:400px) {
    nav{
        @include screen.grid-size(1,8,8,8);
        display: grid;
        grid-template-columns: 1fr 2.2fr .8fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: "logo text icon"
                             "links links links";
        flex-wrap: wrap;

        .logo{
            grid-area: logo;
            margin: 0;
            height: 100%;
        }
        .text{
            grid-area: text;
        }
        .icon{
            grid-area: icon;
            display: block;
            width: 48px;
            height: 48px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            span{
                display: block;
                width: 100%;
                height: 8px;
                background-color: white;
            }
        }
        .navLinks{
            display: none;
        }
        .navLinks[class*=active]{
            grid-area: links;
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: right;
            align-items: center;
            
            .navItem{
                height: 64px;
                width: 100%;
            }
        }
    }
}