@use '../variables/font' as font;
@use '../variables/screen' as screen;


.small{
    @include font.small-text();
}
.medium{
    @include font.medium-text()
}

.large{
    @include font.large-text();
}

.color-white{
    color: white;
}

h1{
    @include font.title();
    min-height: 2rem;
    display: flex;
    align-items: center;
    min-height: 32px;
}
h2{
    @include font.subtitle();
    min-height: 2rem;
    display: flex;
    align-items: center;
    min-height: 32px;
}
h3{
    @include font.sectionTitle();
    min-height: 2rem;
    display: flex;
    align-items: center;
    min-height: 32px;
}

.bold{
    font-weight: 600;
}
.lighter {
    font-weight: lighter;
}