*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,#root{
    width: 100vw;
    min-height: 100vh;
}
#root{
    .colorWrap{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        transition: background-color 2s;
    }
}