@use 'variables/color.scss' as color;
@use  'variables/screen.scss' as screen;

$gap: 16px;

.feed{
    // &,*{
    //     border: 1px solid black;
    //     border-collapse: collapse;
    // }    
    
    @include screen.grid-size(12,14);
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
    overflow-x: scroll;
    gap: $gap;

    .recentNews{
        display: grid;
        grid-template-columns: 1.6fr 1.5fr;
        gap: $gap;

        .mainNews{
            display: grid;
            
            .feedItem{
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .othersNews{
            display: flex;
            flex-direction: column;
            gap: $gap;
        }

        .feedItem{
            width: 100%;
            height: 100%;

            img{
                width: 120px;
                height: auto;
            }
        }
    }
    .recentDocuments{
        display: flex;
        width: max-content;
        gap: $gap;

        .document{
            width: 200px;
            height: 100%;

            .image{
                height: 90%;
                background-color: aquamarine;
            }
        }
    }
}