@use 'sass:math' as math;
@use 'variables/color.scss' as color;

.cursoPageSection {
    h1{
        width: calc(math.div(100vw, 16) *14.5);
    }
    p{
        width: calc(math.div(100vw, 16) *14.5);
        margin-bottom: 16px;
        line-height: 24px;
    }
    .cursoSection {
        width: calc(math.div(100vw, 16) *14.5);
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;

        margin-bottom: 16px;

        .cardCurso {
            min-width: 320px;
            width: calc(math.div(100vw, 16) * 4);
            height: max-content;
            display: flex;
            align-items: center;
            flex-direction: column;

            p{
                width: max-content;
                text-transform: uppercase;
                margin-bottom: 0;
                line-height: normal;
            }
            img {
                height: calc(math.div(100vh, 16) * 5);
                width: 100%;
                object-fit: cover;
            }
            
            .description {
                background: color.$color-1;
                width: 100%;
                height: 96px;
                overflow-y: hidden;
                
                box-shadow: 0 0 32px -24px black;
                p {
                    font-size: 10pt;
                    width: 100%;
                    text-transform: none;
                    text-align: center;
                    margin-bottom: 0;
                }
            }

            a {
                padding: 8px 16px;
                display: flex;
                margin: 16px;
                box-shadow: 0 8px 0 color.$color-3;
                text-decoration: none;
                text-transform: uppercase;
                border: 1px solid color.$color-3;
                box-sizing: border-box;
                transition: .1s;
                &:hover{
                    border-width: 2px;
                }
            }
        }
    }
}