@use 'sass:math' as math;

.galeria{
    max-width: calc(math.div(100vw,16)*14);
    img{
        user-select: none;
        height: 180px;
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (min-width:900px){
    .galeria{
        width: calc(math.div(100vw,8)*7);
    }
}