@use "variables/font.scss" as font;

@import 'components/navbar.scss';
@import 'components/footer.scss';
@import 'components/main.scss';
@import 'components/animations.scss';
@import 'components/text.scss';
@import 'components/blog.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font.$font-family;
    // border: 1px solid black;
}

html {
    width: 100vw;
}

body {
    width: 100vw;
    min-height: 100vh;
    overscroll-behavior: none;
    font-size: 18px;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

li{
    font-size: font.$medium-font-size;
    list-style: square;
}

@media screen and (max-width: 400px) {
    body {
        width: 100vw;
        overscroll-behavior-y: auto;
    }
}

.avisos{
    background-color: red;

    .aviso{
        background-color: purple;
    }

}
.pesquisa{
    input{
        height: 100%;
        border: none;
        outline: none;
        padding: 4px 2px;
    }
    button{
        border: 1px solid black;
        padding: 4px 2px;
        text-transform: uppercase;
        cursor: pointer;
        background-color: red;
        color: white;
    }
}