@use "variables/font.scss" as font;

@import 'components/text.scss';
@import 'components/navbar.scss';
@import 'components/footer.scss';
@import 'components/main.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font.$font-family;
}

html {
    width: 100vw;
}

body {
    width: 100vw;
    min-height: 100vh;
    overscroll-behavior: none;
    font-size: 12px;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 400px) {
    body {
        width: 100vw;
        overscroll-behavior-y: auto;
    }
}