@use 'sass:math'as math;
@use 'variables/color.scss'as color;
@use 'variables/screen.scss'as screen;
@use 'variables/font.scss'as font;


.section {
    align-items: baseline;
    justify-items: baseline;

    .backgroundImage {
        width: 100vw;
        display: grid;

        img {
            width: 100%;
            height: calc(math.div(100vh, 16) * 9);
            object-fit: cover;
        }
    }

    .descriptionSquare {
        background-color: color.$color-2;
        min-height: calc(math.div(100vh, 16) * 5);

        .textContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 8px 32px;

            p {
                // text-align: justify;
                // text-indent: 1.5em;
                // line-height: 1.5rem;
                text-align: justify;
                word-break: normal;
                line-height: 1.5rem;
                text-indent: 2rem;
                text-justify: auto;
                color: color.$color-1;
            }
        }
    }

}

@media screen and (max-width:400px) {
    .section {
        .backgroundImage {
            @include screen.grid-size(6, 8, 8, 8);
        }

        .descriptionSquare {
            height: max-content;
        }
    }
}