@use 'variables/color.scss' as color;
@use 'variables/screen.scss' as screen;
@use 'variables/font.scss' as font;


.backgroundImage{
    @include screen.grid-size(10, 16);
    display: flex;
    img{
        object-fit: cover
    }
}

.descriptionSquare {
    @include screen.grid-size(6, 16);
    background-color: color.$color-2;
    
    .textContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 8px 32px;
    }
}

@media screen and (max-width:400px){
    .backgroundImage{
        @include screen.grid-size(4,8,8,8);
    }
}