@use 'sass:math' as math;
@use 'variables/color.scss' as color;
@use 'variables/screen.scss' as screen;
@use 'variables/font.scss' as font;


.section{
    align-items: baseline;
    justify-items: baseline;

    .backgroundImage{
        // *{border: 10px solid black;}
        width: 100vw;
        display: grid;
        img{
            width: 100%;
            height: calc(math.div(100vh,16) * 8);
            object-fit: cover;    
        }
    }
    
    .descriptionSquare {
        background-color: color.$color-2;
        height: calc(math.div(100vh,16) * 8);
        
        .textContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 8px 32px;

            p{
                text-align: justify;
                color: color.$color-1;
            }
        }
    }

}

@media screen and (max-width:400px){
    .section{
        .backgroundImage{
            @include screen.grid-size(4,8,8,8);
        }
        .descriptionSquare{
            height: max-content;
        }
    }
}